PixelDataProcess/PixelDataProcessWeb/PixelDataProcessWeb/obj/
PixelDataProcess/PixelDataProcessWeb/PixelDataProcessWeb/bin/
PixelDataProcess/PixelDataProcessWeb/.vs/
PixelDataProcess/PixelDataProcessWeb/.idea/
